<div id="banner" class="debugger">
	<span style="font-size: 35px;">Greetings <%= current_user.username %></span>
	<span><%= link_to "Edit Profile", edit_profile_path(current_user) %></span>
	<span><%= link_to "logout", logout_path, {class: "button", method: "delete", action: "destroy" } %></span>
</div>


<div id="page_body" class="debugger text-center">
	<div id="current_hunts" class="debugger scroll-y">
		<h3 class="text-center"><u>MY CURRENT HUNTS</u></h3>

		<% if current_hunts.length > 0 %>
			<ul>
			<% current_hunts.each do |hunt| %>
				<li><%= link_to 'example', hunt_path( hunt) %></li>
			<% end %>
		<% end %>
			</ul>
	
	</div>

	<div id="my_hunts" class="debugger scroll-y">
		<h3 class="text-center"><u>MY MADE HUNTS</u></h3>
			<% if my_hunts.length > 0 %>
				<ul>
				<% my_hunts.each do |hunt| %>
					<li><%= link_to 'example', hunt_path( hunt) %></li>
				<% end %>
			<% end %>
				</ul>

	</div>
</div>

<div id="edit-body" class="debugger">
	<%= link_to "Look For New Hunt", hunts_path, {class: "button"} %><br>
	
	<%= link_to "Create New Hunt",  new_hunt_path, {class: "button"}%>

</div>


